<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
        <authentication mode="Forms">
            <forms name="cookies" timeout="2880" loginUrl="~/Account/Login" />
        </authentication>
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
